*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // 1rem = 10px
}

body {
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background: #e9ecef;
  --shadow: #1e1e1e11;

  --shade: #f8f9fa;
  --shade-dark: #efeff0;
  --shade-light: #fdfdfd;

  --border-color: #28282842;

  --primary-color: #e71d36;
  --primary-color-transparent: #df78841a;

  --default-font-color: #343a40;
}

body.dark {
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
