.propertiesMenu {
  width: 60%;
  z-index: 0;
  height: auto;
  padding: 2rem;
  border-radius: 0.5rem;
  background-color: var(--shade-light);

  &__content {
    text-align: center;

    &--title {
      font-size: 2rem;
      font-weight: 400;
      margin-top: 1rem;
    }

    &--desc {
      font-weight: 300;
      font-size: 1.4rem;
      margin-bottom: 2rem;
    }

    &--sizeControl {
      width: 100%;
      display: flex;
      margin-bottom: 2rem;
      justify-content: space-evenly;

      &-width {
        width: 33.3%;
      }

      &-height {
        width: 33.3%;
      }
    }

    &--qualityControl {
      display: flex;
      margin-bottom: 1rem;
      justify-content: space-around;

      &-title {
        font-size: 1.4rem;
      }

      &-value {
        flex: 1;
        margin-left: 4rem;
      }
    }

    &--formatControl {
      display: flex;
      justify-content: space-around;
      margin-bottom: 2rem;

      &-title {
        font-size: 1.4rem;
      }

      &-select {
        flex: 1;
        margin-left: 4rem;
      }
    }
  }
}
