@import "../../global-styles/mixins";

.uploadComponent {
  width: 40vw;
  height: 60vh;
  @include absCenter;
  text-align: center;
  border-radius: 1rem;
  background-color: var(--shade);
  color: var(--default-font-color);
  filter: drop-shadow(0.5rem 0.5rem 0.8rem var(--shadow));
}

.overflow-hidden {
  overflow: hidden !important;
}
